.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fcf0c8;
}

.container {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  flex: 1;
}

.recipe-form-container {
  max-width: 1000px;
  margin: 0 auto;
}